//
   Created by leino on 06/04/2017.

extends ../layout


block content
    #page-content-wrapper(ng-controller='projectController')
        .page-content.inset
            .row
                .col-md-12.well
                    legend(ng-model='project.name')= project.name
                    button(ng-click='debug()') debug
                    - var prj = JSON.stringify(project)
                    div(ng-init="project=#{prj}")
                    input(ng-model='project._id', type='text', value=project._id)
                    div= project
                .col-md-12.well
                    div(gantt, data='data')
                        gantt-table
                        gantt-movable
                        gantt-tooltips