//
   Created by leino on 06/04/2017.

extends ../layout

block menu
    include ../menu/index
block content
    #page-content-wrapper
        .page-content.inset
            .row
                .col-md-12.well
                    legend#anch1 Anchor 1
                    p
                        | Test !
