extends layout

block menu
    include menu/index
block content
    #page-content-wrapper
        .page-content.inset
            .row
                .jumbotron.text-center
                    h1= title
                    p
                        | Un nouveau site pour gérer vos projets avec Gantt
                    p
            .row
                .col-md-12.well
                    legend#anch1 Anchor 1
                    p
                        | Connectez vous !
                    p
                        | Ici le module de connexion / création de compte
