doctype html
html(ng-app="app")
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        link(rel="stylesheet", href="/javascripts/lib/angular/angular-csp.css")
        link(rel="stylesheet", href="/javascripts/lib/angular-material/angular-material.css")
        link(rel="stylesheet", href="/javascripts/lib/angular-gantt/assets/angular-gantt.css")
        link(rel="stylesheet", href="/javascripts/lib/angular-gantt/assets/angular-gantt-plugins.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/lib/angular/angular.js")
        script(src="/javascripts/lib/angular-aria/angular-aria.js")
        script(src="/javascripts/lib/angular-animate/angular-animate.js")
        script(src="/javascripts/lib/angular-material/angular-material.js")
        script(src="/javascripts/lib/angular-gantt/assets/angular-gantt.js")
        script(src="/javascripts/lib/angular-gantt/assets/angular-gantt-plugins.js")
        script(src="javascripts/app.js")

        script(src="/javascripts/controllers/menuController.js")
        script(src="/javascripts/controllers/projectController.js")

    body
        .horizontalbar
            h1 GanttProject
        #wrapper
            block menu
            block content
