//
   Created by leinox on 06/04/2017.
#sidebar-wrapper
    nav
        ul.sidebar-nav.nav
            li.active
                a(href='/')
                    span Accueil
            li
                    a Projets
                    ul.submenu
                        li
                            a(href='projects') Projet 1
                        li
                            a(href='#') Projet 2
                        li
                            a(href='#') Projet 3
            li
                a(href='#')
                    span Utilisateur
            li
                a(href='#')
                    span Déconnexion