//
   Created by leinox on 06/04/2017.
#sidebar-wrapper(ng-controller="menuController")
    nav
        ul.sidebar-nav.nav
            li.active
                a(href='/')
                    span Accueil
            li
                a Projets
                ul.submenu(ng-repeat="project in allProjectsName")
                    li
                        a(href="/project/{{project._id}}") {{project.name}}
            li
                a(href='#')
                    span Utilisateur
            li
                a(href='#')
                    span Déconnexion