//
   Created by leinox on 06/04/2017.
#sidebar-wrapper
    nav
        ul.sidebar-nav.nav
            li.active
                a(href='#')
                    span Accueil
            li
                a#btn-1(href='#', data-toggle='collapse', data-target='#submenu1', aria-expanded='false') Projets
                ul#submenu1.nav.collapse(role='menu', aria-labelledby='btn-1')
                    li.submenu
                        a(href='#') Projet 1
                    li.submenu
                        a(href='#') Projet 2
                    li.submenu
                        a(href='#') Projet 3
            li
                a(href='#')
                    span Utilisateur
            li
                a(href='#')
                    span Déconnexion
